<app-header></app-header>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<div id="booking" class="section">
  <div class="container">
      
    <form  [formGroup]="loginform"     (ngSubmit)="onloginsubmit()">  
        <div class="form-group" style="padding-top: 2%;">
          <label for="exampleInputEmail1" style="color: red; font-weight: bold;">Email address</label>
          <input type="email" formControlName="emaildata" class="form-control" id="emaildata" aria-describedby="emailHelp" placeholder="Enter email">
         
        </div>
        <div *ngIf="(form.emaildata.invalid && form.emaildata.touched)" 
        class="alert alert-danger">
         please enter Email id 
     </div>
     <div *ngIf="form.emaildata.errors?.email && form.emaildata.touched"   class="alert alert-danger">
      please enter valid email id
    </div>


        <div class="form-group" style="padding-top: 2%;">
          <label for="exampleInputPassword1" style="color: red; font-weight: bold;">Password</label>
          <input type="password" class="form-control" formControlName="password" id="password" placeholder="Password">
        </div>

        <div *ngIf="form.password.invalid && form.password.touched" 
        class="alert alert-danger">
         please enter password
     </div>
    <div style="padding-top: 2%;" *ngIf="loginform.status=='VALID'">
        <button type="submit" class="btn btn-primary" > Submit</button>
    </div>
    <div style="padding-top: 2%;" *ngIf="loginform.status=='INVALID'">
     <span class="text-danger" style="font-weight: bold;">Submit button display's after filling required fields</span>
  </div>

  <div style="padding-top: 2%;">
    <button type="button" (click)="onRegister()" class="btn" style="background-color: crimson;" > Register</button>
</div>
      </form>
  </div>
</div>
 