<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
<app-header></app-header>
<div class="section" id="booking" style="padding-top: 5%;">
  
<div class="container" >
    
        <div style="text-align: center; color:red; font-weight: bold; font-size: xx-large; padding-right: 10%;">Flight Booking</div>

      <div style="padding-top: 2%;">
       <form [formGroup]="searchFlightForm" >

        <table class="table table-striped"  >  
           
            <tbody style="font-weight: bold;">
           
                <tr style="color: red;">
                    <th scope="col">Form Location</th>
                   <td><input type="text" formControlName="source" class="form-control"  placeholder="source"></td>
            
                  </tr>
                  <tr style="color: red;">
                    <th scope="col">To Location</th>
                   <td><input type="text" class="form-control" formControlName="destination"   placeholder="destination"></td>
            
                  </tr>
                  <tr style="color: red;">
                    <th scope="col">Journey Date</th>
                   <td><input type="date" class="form-control" formControlName="journey"  placeholder="journey date"></td>
            
                  </tr>
            </tbody>
           
        </table>
       </form>

        <div style="text-align: center;">
            <button class="btn btn-primary" (click)="searchFlights();">Search Flight</button>
        </div>
        <!-- {{ArrayscheduleFlightModaldata!=''}} -->
<div >
        <table class="table"  >
            <thead>
                <tr style="color: red;">
                  <th scope="col">#</th>
                  <th scope="col">FlightId</th>
                  <th scope="col">From Location</th>
                  <th scope="col">To Location</th>
                  <th scope="col">AirLine Name</th>
   
                  <th scope="col">Action</th>
          
                </tr>
              </thead>
            <tbody>
                <tr  *ngFor="let abc of ArrayscheduleFlightModaldata; let i = index;" >
                    <th scope="row">{{i+1}}</th>
                     <td>{{ArrayscheduleFlightModaldata[i].flightId}}</td>

                     <td>{{ArrayscheduleFlightModaldata[i].flightsInventoryDetails.fromLocation}}</td>
                    <td>{{ArrayscheduleFlightModaldata[i].flightsInventoryDetails.toLocation}}</td>
                    <td>{{ArrayscheduleFlightModaldata[i].flightsInventoryDetails.airlineDetails.airLineName}}</td> 
                   

                  <td><button  *ngIf="ArrayscheduleFlightModaldata[i].flightId!=''"  (click)="detailsbookticket(ArrayscheduleFlightModaldata[i]);" class="btn btn-primary" >Book</button></td>
                    

                </tr>
            </tbody>
        </table>
        </div>
      </div>
      
        <!-- Button trigger modal -->


<div>


  </div> 