<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
<app-header></app-header>
<div class="section" id="booking">
 
<div class="container">
    
     <form [formGroup]="UpdateAirLineForm">

        <table class="table " id="airtable"> 
            <thead>
            
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Airline id</th>
                    <td><input type="text"   formControlName="updateAirId" readonly required></td>
                  </tr>
              <tr>
                <th scope="row">Airline Name</th>
                <td><input type="text"  placeholder="Airline name"  formControlName="updateName" required></td>
              </tr>
              <tr>
                <th scope="row">Airline Description</th>
                <td><input type="text"  placeholder="Airline description"  formControlName="updateDesc" required></td>
              </tr>
              <tr>
                <th scope="row">Airline Status</th>
                <td>
                    <select   formControlName="updateStatus"
                    required >
                       <option value="">--Select Status--</option>
                       <option value="0">open</option>
                       <option value="1">lock</option>
                       
                     </select>

                </td>
              </tr>
            </tbody>
           
        </table>
<div style="text-align: center;">
  <button class="btn btn-success" (click)="updateAirLines();">Update</button>
</div>
     </form>
      
        <!-- Button trigger modal -->

  
 
<div>

  </div> 